body {
    display: flex;
    flex-direction: column;
    line-height: 1.3em;
    margin: 0;
    background-color: rgb(202, 165, 165);
  }
  
header {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    background-color: #2e2d30;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
  }

h1 {
    font-size: 200%;
    font-family: sans-serif;
  }

h2 {
    margin: 2% 0;
    font-size: 250%;
  }

/* The below code is for the nav bar */

nav ul {
    display: flex;
    min-width: 300px;
    list-style-type: none;
  }

nav a {
    color: #d8d7fc;
    font-size: 160%;
    text-decoration: underline;
    margin: 50px;
  }

/* The container is the rest of the page, with the titles of the section in the <aside> elements
and the content in the <main> section, with a <div> element for each section */

  .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 10px;
  }

main {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}


  aside {
    border-right: 5px solid #000000;
    width: 20%;
  }

  aside ul {
    display: flex;
    padding-top: 3%;
    list-style-type: none;
    text-align: start;
  }

aside ul li {
    text-decoration: none;
    font-size: 23px;
    color: #131313;
    margin: 20px 40px 40px 40px;
    font-family: sans-serif;
    font-weight: lighter;
  }
  
aside ul li:hover {
    color: #4b48fd;
  }

/* the border is for the image and top text */

.border {
    height: 200px;
    width: 100%;
    background-image: url("Assets/images/gears.jpg");
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.border div {
  margin-left: 65%;
}

.border h2 {
    font-family: sans-serif;
    background-color: #817fff;
    padding: 10px;
    box-shadow: 8px 8px 8px #414080;
    margin-right: 5px;
}


.border img {
  height: 200px;
  margin-left: 25px;
  border: 5px solid #817fff;
  border-radius: 200px;
}

/* Work1 - Work5 are the images in the Work section that show 1.0 opacity when hovered over */


.work1 {
    width: 80.1%;
    height: 1000px;
    border: 5px solid #817fff;
    background-image: url("Assets/images/ocean.jpg"); 
    background-position: center;
    display: flex;
    align-items: flex-end;
    opacity: 0.5;
}

.work1 div {
    background-color: #817fff;
    font-family: sans-serif;
    line-height: 1.3em;
    margin-bottom: 20px;
    padding: 10px 20px 10px 10px;
}

.work1:hover {
    opacity: 1.0;
}



.work2 {
  width: 39%;
  border: 5px solid #817fff;
  margin-top: 20px;
  margin-right: 20px;
  background-image: url("Assets/images/colors.jpg"); 
  background-position: center;
  opacity: 0.5;
}



.work2 div {
  background-color: #817fff;
  font-family: sans-serif;
  line-height: 1.3em;
  padding: 5px 5px 5px 5px;
  width: 25%;
  margin-top: 60px;
  margin-bottom: 20px;
}

.work2:hover {
  opacity: 1.0;
}


.work3 {
  width: 39%;
  border: 5px solid #817fff;
  margin-top: 20px;
  margin-right: 20px;
  background-image: url("Assets/images/sunset.jpg"); 
  background-position: center;
  opacity: 0.5;
}



.work3 div {
  background-color: #817fff;
  font-family: sans-serif;
  line-height: 1.3em;
  padding: 5px 5px 5px 5px;
  width: 25%;
  margin-top: 60px;
  margin-bottom: 20px;
}

.work3:hover {
  opacity: 1.0;
}


.work4 {
  width: 39%;
  border: 5px solid #817fff;
  margin-top: 20px;
  margin-right: 20px;
  background-image: url("Assets/images/bricks.jpg"); 
  background-position: center;
  opacity: 0.5;
}



.work4 div {
  background-color: #817fff;
  font-family: sans-serif;
  line-height: 1.3em;
  padding: 5px 5px 5px 5px;
  width: 25%;
  margin-top: 60px;
  margin-bottom: 20px;
}

.work4:hover {
  opacity: 1.0;
}

.work5 {
  width: 39%;
  border: 5px solid #817fff;
  margin-top: 20px;
  margin-right: 20px;
  background-image: url("Assets/images/circles.jpg"); 
  background-position: center;
  opacity: 0.5;
}



.work5 div {
  background-color: #817fff;
  font-family: sans-serif;
  line-height: 1.3em;
  padding: 5px 5px 5px 5px;
  width: 25%;
  margin-top: 60px;
  margin-bottom: 20px;
}

.work5:hover {
  opacity: 1.0;
}

/* contact is for the Contact Us section, to add more customization options for the Contact ul and ul li sections */

.contact {
  display: flex;
  align-items: center;
}

.contact ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.contact ul li {
  text-decoration: none;
  flex-wrap: wrap;
  align-items: center;
  font-size: 35px;
  color: #1d2744;
  margin: 5px 50px;
  font-family: sans-serif;
}

/* ResumeText is for the last text in the document */

.ResumeText {
  display: flex;
  align-items: center;
  margin-left: 25%;
}

/* @media screens to resize when smaller */

@media screen and (max-width: 1100px) {

  aside {
    display: none;
  }
  .contact ul li {
    font-size: 20px
  }
  .border div {
    display: none;
  }
  nav a {
    margin: 30px;
    font-size: 110%;
  }
}

@media screen and (max-width: 768px) {
  nav a {
    margin: 10px;
    font-size: 80%;
  }
  .contact ul li {
    font-size: 15px;
    margin: 5px 25px;
  }
}

@media screen and (max-width: 650px) {
  nav a {
    margin: 10px;
    font-size: 70%;
  }
  .contact ul li {
    font-size: 13px;
  }
}